<h1 class="mt-5 text-center">
    Inscripción a Materias</h1>
<div class="col mt-5" style="margin-left: 410px;">
    <div class="row">
        <input class="form-control w-25" type="search" placeholder="Legajo" aria-label="Search" [(ngModel)]="legajo">
        <button class="btn btn-outline-success " type="button" (click)="buscarAlumno(legajo)"><i class="fas fa-search"></i></button>
    </div>
</div>
<div class="jumbotron mt-5" *ngIf="this.inscripcionCurso.alumno && this.carrerasAlumno.length>0 ">
    <div class="row">
        <h1>{{this.inscripcionCurso.alumno.persona.apellido}}, {{this.inscripcionCurso.alumno.persona.nombre}}</h1>
    </div>

    <form (ngSubmit)="guardarInscripcionMateria( f )" #f="ngForm" class="form-group mt-5">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Carrera</label>
                    <select (change)="buscarCursos($event.target.value)" class="form-control" id="exampleFormControlSelect1">
                    <option >Seleccione carrera</option>
                    <option *ngFor="let carreraAlumno of carrerasAlumno"  [value]='carreraAlumno.carrera.identificador'>{{carreraAlumno.carrera.nombre}}</option>
                  </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Curso</label>
                    <select name="miselect" [(ngModel)]="this.inscripcionCurso.curso" class="form-control" id="exampleFormControlSelect1">
                        <option [ngValue]="curso" *ngFor="let curso of cursos" >{{curso.nombre}}</option>
                  </select>
                </div>
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col text-left">
                <button type="submit " class="btn btn-primary w-100">
                    <i class="fa fa-save "></i>
                    Guardar
                    </button>
            </div>
        </div>

    </form>
</div>
<div *ngIf="!this.inscripcionCurso.alumno && !alumnoEncontrado">
    <div class="alert alert-danger mt-5 text-center" role="alert">
        No existe alumno registrado con legajo: {{legajo}}
    </div>
</div>
<div *ngIf="this.inscripcionCurso.alumno && this.carrerasAlumno.length==0">
    <div class=" alert alert-danger mt-5 text-center " role="alert ">
        El alumno no se encuentra inscripto a una carrera
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <button class="btn btn-outline-primary" (click)="getCarreras()">
          <i class="fa fa-plus"></i>
         Inscribir a una Carrera
        </button>
        </div>
    </div>
    <div class="form-group" *ngIf="inscribirseCarrera">
        <label for=" exampleFormControlSelect1 ">Carreras</label>
        <select (change)="guardarSeleccion($event.target.value) " class="form-control " id="exampleFormControlSelect1 ">
        <option >Seleccione carrera</option>
        <option *ngFor="let carrera of carreras "  [value]='carrera.identificador'>{{carrera.nombre}}</option>
      </select>
        <div class="row mt-5 text-center ">
            <div class="col text-center ">
                <button type="submit " class="btn btn-primary w-25 " (click)="guardarInscripcionCarrera() ">
            <i class="fa fa-save "></i>
            Guardar
            </button>
            </div>
        </div>
    </div>

</div>